<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ajout d'un utilisateur</title>
</head>
<body>
	<form method="post" th:action="@{/save}" th:object="${user}">
		<div>
			<label for="nom">Nom du user</label>
			<input id="username" th:field="*{username}" type="text" placeholder="username" required>
			<br>
			<label for="password">Mot de passe</label>
			<input id="username" th:field="*{password}" type="password" placeholder="password" required>
			<br>
			<input type="submit" value="Enregistrer">
		</div>
	</form>
</body>
</html>